<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.BG.Mapper.InquiryMapper">
    <insert id="appSendInquiry" parameterType="InquiryDto">
        insert into admin_inquiry(Inquiry_Title, Inquiry_Category, User_No, Inquiry_RegDate)
        VALUES (#{Inquiry_Title}, #{Inquiry_Category}, ${User_No}, #{Inquiry_RegDate})
    </insert>
    <select id="appRetrieveInquiry" parameterType="UserDto" resultType="InquiryDto">
        select * from admin_inquiry where User_No=${User_No} ORDER BY Inquiry_No DESC
    </select>
    <select id="getInquiryCountOfNotReply" resultType="int">
        select count(*) from admin_inquiry where Inquiry_Answer IS NULL OR Inquiry_Answer = ''
    </select>
    <select id="getInquiryCountOfReply" resultType="int">
        select count(*) from admin_inquiry where Inquiry_Answer IS NOT NULL OR Inquiry_Answer != ''
    </select>
    <select id="getInquiryList" resultType="InquiryDto">
        select Inquiry_No, Inquiry_Title, Inquiry_Answer, Inquiry_Category, Inquiry_RegDate, User_Name, User_ComNm
        from user u, admin_inquiry a
        where a.User_No = u.User_No
        ORDER BY Inquiry_No DESC
    </select>
    <select id="getInquiryInfo" resultType="InquiryDto">
        select Inquiry_No, Inquiry_Title, Inquiry_Answer, Inquiry_Category, Inquiry_RegDate,
        User_Name, User_ComNm, User_ComNo, User_Phone
        from user u, admin_inquiry a
        where u.User_No=a.User_No AND a.Inquiry_No=${Inquiry_No}
    </select>
    <update id="answerInquiry" parameterType="InquiryDto">
        update admin_inquiry set Inquiry_Answer=#{Inquiry_Answer} where Inquiry_No=${Inquiry_No}
    </update>
</mapper>
